


@{ 

    Layout = null;
}

<form action="" method="post">
    <table>
        <tbody>


            <tr>
                <td>Введите название мероприятия</td>
                <td><input type="text" name="NameOfEvent" value="" /></td>
            </tr>

            <tr>
                <td>Введите количество билетов</td>
                <td><input type="text" name="CountOfTickets" value="" /></td>
            </tr>
            <tr>
                <td>Введите цену</td>
                <td><input type="text" name="CostOfTickets" value="" /></td>
            </tr>
            <tr>
                <td>Введите дату</td>
                <td><input type="date" name="DateOfEvent" value="" /></td>
            </tr>
            <tr>
                <td>Введите описание мероприятия</td>
                <td><input type="text" name="Description" value="" /></td>
            </tr>
            <tr>

                <td>Добавить изображение</td>
                <td><input type="file" name="PhotoImage" /></td>
            </tr>
            <tr>
                <td colspan="2"><input class="button" type="submit" value="Добавить" /></td>
            </tr>
        </tbody>
    </table>
</form>