<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Купить билеты
                </h1>
                <p class="text-white link-nav"><a href="index.html">Главная </a>  <span class="lnr lnr-arrow-right"></span>  <a href="ticket.html"> Билеты</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start upcoming-exibition Area -->
<section class="upcoming-exibition-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Текущие выставки</h1>

                </div>
            </div>
        </div>
        <div class="row">
            <form action="" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Количество билетов</td>
                            <td><input type="text" name="count" value="" /></td>
                        </tr>

                        <tr>
                            <td>Введите телефон</td>
                            <td><input type="text" name="PhoneNumber" value="" /></td>
                        </tr>

                        <tr>

                            <td colspan="2"><input class="button" type="submit" value="Подтвердить" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
          
           
        </div>
    </div>
</section>
<!-- End upcoming-exibition Area -->
<hr />


