<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Покупка билетов
                </h1>

            </div>
        </div>
    </div>
</section>

<form action="" method="post">



    <div id="boxOfPurchase">

        <input type="hidden" value="@ViewBag.Id" name="Id" />

        <p>Укажите количество билетов</p>

        <input type="text" name="CountOfTickets" value="" />

        <input id="buy" class="button btn-success" type="submit" value="Купить" />



    </div>

</form>
<hr />
